In [1]:
from bluprint_conf import load_data_yaml
from demo.common_code import process_data
import pandas as pd

In [2]:
data = load_data_yaml()
data

{'emailed': {'messy': '/Users/igor/repos/bluprint-demo/data/emailed/messy.xlsx'}, 'user': {'processed': '/Users/igor/repos/bluprint-demo/data/user_processed.csv'}}

In [3]:
data.emailed.messy

'/Users/igor/repos/bluprint-demo/data/emailed/messy.xlsx'

In [4]:
messy_df = pd.read_excel(
	data.emailed.messy,
	sheet_name='Sheet1',
	header=1,
	usecols=[1, 2],
)
messy_df

  item  VaLuE
0    a    1.0
1    b    2.0
2    c    2.5

In [6]:
processed_df = process_data(messy_df)
processed_df

  item  value
0    a    0.0
1    b    1.0
2    c    1.5

In [8]:
processed_df.to_csv(data.user.processed, index=False)